QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/ComentarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.pucp.pucpqhatu" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ComentarioWS" targetNamespace="com.pucp.pucpqhatu" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/ComentarioWS?xsd=1" namespace="com.pucp.pucpqhatu" />
    </xsd:schema>
  </types>
  <message name="eliminarComentario">
    <part name="parameters" element="tns:eliminarComentario" />
  </message>
  <message name="eliminarComentarioResponse">
    <part name="parameters" element="tns:eliminarComentarioResponse" />
  </message>
  <message name="obtenerComentario">
    <part name="parameters" element="tns:obtenerComentario" />
  </message>
  <message name="obtenerComentarioResponse">
    <part name="parameters" element="tns:obtenerComentarioResponse" />
  </message>
  <message name="listarComentario">
    <part name="parameters" element="tns:listarComentario" />
  </message>
  <message name="listarComentarioResponse">
    <part name="parameters" element="tns:listarComentarioResponse" />
  </message>
  <message name="actualizarComentario">
    <part name="parameters" element="tns:actualizarComentario" />
  </message>
  <message name="actualizarComentarioResponse">
    <part name="parameters" element="tns:actualizarComentarioResponse" />
  </message>
  <message name="registrarComentario">
    <part name="parameters" element="tns:registrarComentario" />
  </message>
  <message name="registrarComentarioResponse">
    <part name="parameters" element="tns:registrarComentarioResponse" />
  </message>
  <message name="listarComentarioPorPublicacion">
    <part name="parameters" element="tns:listarComentarioPorPublicacion" />
  </message>
  <message name="listarComentarioPorPublicacionResponse">
    <part name="parameters" element="tns:listarComentarioPorPublicacionResponse" />
  </message>
  <portType name="ComentarioWS">
    <operation name="eliminarComentario">
      <input wsam:Action="com.pucp.pucpqhatu/ComentarioWS/eliminarComentarioRequest" message="tns:eliminarComentario" />
      <output wsam:Action="com.pucp.pucpqhatu/ComentarioWS/eliminarComentarioResponse" message="tns:eliminarComentarioResponse" />
    </operation>
    <operation name="obtenerComentario">
      <input wsam:Action="com.pucp.pucpqhatu/ComentarioWS/obtenerComentarioRequest" message="tns:obtenerComentario" />
      <output wsam:Action="com.pucp.pucpqhatu/ComentarioWS/obtenerComentarioResponse" message="tns:obtenerComentarioResponse" />
    </operation>
    <operation name="listarComentario">
      <input wsam:Action="com.pucp.pucpqhatu/ComentarioWS/listarComentarioRequest" message="tns:listarComentario" />
      <output wsam:Action="com.pucp.pucpqhatu/ComentarioWS/listarComentarioResponse" message="tns:listarComentarioResponse" />
    </operation>
    <operation name="actualizarComentario">
      <input wsam:Action="com.pucp.pucpqhatu/ComentarioWS/actualizarComentarioRequest" message="tns:actualizarComentario" />
      <output wsam:Action="com.pucp.pucpqhatu/ComentarioWS/actualizarComentarioResponse" message="tns:actualizarComentarioResponse" />
    </operation>
    <operation name="registrarComentario">
      <input wsam:Action="com.pucp.pucpqhatu/ComentarioWS/registrarComentarioRequest" message="tns:registrarComentario" />
      <output wsam:Action="com.pucp.pucpqhatu/ComentarioWS/registrarComentarioResponse" message="tns:registrarComentarioResponse" />
    </operation>
    <operation name="listarComentarioPorPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/ComentarioWS/listarComentarioPorPublicacionRequest" message="tns:listarComentarioPorPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/ComentarioWS/listarComentarioPorPublicacionResponse" message="tns:listarComentarioPorPublicacionResponse" />
    </operation>
  </portType>
  <binding name="ComentarioWSPortBinding" type="tns:ComentarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComentarioPorPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComentarioWS">
    <port name="ComentarioWSPort" binding="tns:ComentarioWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/ComentarioWS" />
    </port>
  </service>
</definitions>