QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/CursoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.pucp.pucpqhatu" targetNamespace="com.pucp.pucpqhatu" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarCurso" type="tns:actualizarCurso" />
  <xs:element name="actualizarCursoResponse" type="tns:actualizarCursoResponse" />
  <xs:element name="eliminarCurso" type="tns:eliminarCurso" />
  <xs:element name="eliminarCursoResponse" type="tns:eliminarCursoResponse" />
  <xs:element name="listarCurso" type="tns:listarCurso" />
  <xs:element name="listarCursoResponse" type="tns:listarCursoResponse" />
  <xs:element name="obtenerCurso" type="tns:obtenerCurso" />
  <xs:element name="obtenerCursoResponse" type="tns:obtenerCursoResponse" />
  <xs:element name="registrarCurso" type="tns:registrarCurso" />
  <xs:element name="registrarCursoResponse" type="tns:registrarCursoResponse" />
  <xs:complexType name="eliminarCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCursoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarCursoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCurso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>