QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/DenunciaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.pucp.pucpqhatu" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DenunciaWS" targetNamespace="com.pucp.pucpqhatu" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/DenunciaWS?xsd=1" namespace="com.pucp.pucpqhatu" />
    </xsd:schema>
  </types>
  <message name="eliminarDenuncia">
    <part name="parameters" element="tns:eliminarDenuncia" />
  </message>
  <message name="eliminarDenunciaResponse">
    <part name="parameters" element="tns:eliminarDenunciaResponse" />
  </message>
  <message name="obtenerDenuncia">
    <part name="parameters" element="tns:obtenerDenuncia" />
  </message>
  <message name="obtenerDenunciaResponse">
    <part name="parameters" element="tns:obtenerDenunciaResponse" />
  </message>
  <message name="registrarDenuncia">
    <part name="parameters" element="tns:registrarDenuncia" />
  </message>
  <message name="registrarDenunciaResponse">
    <part name="parameters" element="tns:registrarDenunciaResponse" />
  </message>
  <message name="listarDenuncia">
    <part name="parameters" element="tns:listarDenuncia" />
  </message>
  <message name="listarDenunciaResponse">
    <part name="parameters" element="tns:listarDenunciaResponse" />
  </message>
  <message name="actualizarDenuncia">
    <part name="parameters" element="tns:actualizarDenuncia" />
  </message>
  <message name="actualizarDenunciaResponse">
    <part name="parameters" element="tns:actualizarDenunciaResponse" />
  </message>
  <portType name="DenunciaWS">
    <operation name="eliminarDenuncia">
      <input wsam:Action="com.pucp.pucpqhatu/DenunciaWS/eliminarDenunciaRequest" message="tns:eliminarDenuncia" />
      <output wsam:Action="com.pucp.pucpqhatu/DenunciaWS/eliminarDenunciaResponse" message="tns:eliminarDenunciaResponse" />
    </operation>
    <operation name="obtenerDenuncia">
      <input wsam:Action="com.pucp.pucpqhatu/DenunciaWS/obtenerDenunciaRequest" message="tns:obtenerDenuncia" />
      <output wsam:Action="com.pucp.pucpqhatu/DenunciaWS/obtenerDenunciaResponse" message="tns:obtenerDenunciaResponse" />
    </operation>
    <operation name="registrarDenuncia">
      <input wsam:Action="com.pucp.pucpqhatu/DenunciaWS/registrarDenunciaRequest" message="tns:registrarDenuncia" />
      <output wsam:Action="com.pucp.pucpqhatu/DenunciaWS/registrarDenunciaResponse" message="tns:registrarDenunciaResponse" />
    </operation>
    <operation name="listarDenuncia">
      <input wsam:Action="com.pucp.pucpqhatu/DenunciaWS/listarDenunciaRequest" message="tns:listarDenuncia" />
      <output wsam:Action="com.pucp.pucpqhatu/DenunciaWS/listarDenunciaResponse" message="tns:listarDenunciaResponse" />
    </operation>
    <operation name="actualizarDenuncia">
      <input wsam:Action="com.pucp.pucpqhatu/DenunciaWS/actualizarDenunciaRequest" message="tns:actualizarDenuncia" />
      <output wsam:Action="com.pucp.pucpqhatu/DenunciaWS/actualizarDenunciaResponse" message="tns:actualizarDenunciaResponse" />
    </operation>
  </portType>
  <binding name="DenunciaWSPortBinding" type="tns:DenunciaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarDenuncia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerDenuncia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarDenuncia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDenuncia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarDenuncia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DenunciaWS">
    <port name="DenunciaWSPort" binding="tns:DenunciaWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/DenunciaWS" />
    </port>
  </service>
</definitions>