QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/EspecialidadWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.pucp.pucpqhatu" targetNamespace="com.pucp.pucpqhatu" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarEspecialidad" type="tns:actualizarEspecialidad" />
  <xs:element name="actualizarEspecialidadResponse" type="tns:actualizarEspecialidadResponse" />
  <xs:element name="eliminarEspecialidad" type="tns:eliminarEspecialidad" />
  <xs:element name="eliminarEspecialidadResponse" type="tns:eliminarEspecialidadResponse" />
  <xs:element name="especialidad" type="tns:especialidad" />
  <xs:element name="listarEspecialidad" type="tns:listarEspecialidad" />
  <xs:element name="listarEspecialidadResponse" type="tns:listarEspecialidadResponse" />
  <xs:element name="obtenerEspecialidad" type="tns:obtenerEspecialidad" />
  <xs:element name="obtenerEspecialidadResponse" type="tns:obtenerEspecialidadResponse" />
  <xs:element name="registrarEspecialidad" type="tns:registrarEspecialidad" />
  <xs:element name="registrarEspecialidadResponse" type="tns:registrarEspecialidadResponse" />
  <xs:complexType name="actualizarEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEspecialidadResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarEspecialidadResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarEspecialidad">
    <xs:sequence>
      <xs:element name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEspecialidadResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerEspecialidad">
    <xs:sequence>
      <xs:element name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEspecialidad">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>