QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/FacultadWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.pucp.pucpqhatu" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="FacultadWS" targetNamespace="com.pucp.pucpqhatu" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/FacultadWS?xsd=1" namespace="com.pucp.pucpqhatu" />
    </xsd:schema>
  </types>
  <message name="registrarFacultad">
    <part name="parameters" element="tns:registrarFacultad" />
  </message>
  <message name="registrarFacultadResponse">
    <part name="parameters" element="tns:registrarFacultadResponse" />
  </message>
  <message name="listarFacultad">
    <part name="parameters" element="tns:listarFacultad" />
  </message>
  <message name="listarFacultadResponse">
    <part name="parameters" element="tns:listarFacultadResponse" />
  </message>
  <message name="actualizarFacultad">
    <part name="parameters" element="tns:actualizarFacultad" />
  </message>
  <message name="actualizarFacultadResponse">
    <part name="parameters" element="tns:actualizarFacultadResponse" />
  </message>
  <message name="eliminarFacultad">
    <part name="parameters" element="tns:eliminarFacultad" />
  </message>
  <message name="eliminarFacultadResponse">
    <part name="parameters" element="tns:eliminarFacultadResponse" />
  </message>
  <message name="obtenerFacultad">
    <part name="parameters" element="tns:obtenerFacultad" />
  </message>
  <message name="obtenerFacultadResponse">
    <part name="parameters" element="tns:obtenerFacultadResponse" />
  </message>
  <portType name="FacultadWS">
    <operation name="registrarFacultad">
      <input wsam:Action="com.pucp.pucpqhatu/FacultadWS/registrarFacultadRequest" message="tns:registrarFacultad" />
      <output wsam:Action="com.pucp.pucpqhatu/FacultadWS/registrarFacultadResponse" message="tns:registrarFacultadResponse" />
    </operation>
    <operation name="listarFacultad">
      <input wsam:Action="com.pucp.pucpqhatu/FacultadWS/listarFacultadRequest" message="tns:listarFacultad" />
      <output wsam:Action="com.pucp.pucpqhatu/FacultadWS/listarFacultadResponse" message="tns:listarFacultadResponse" />
    </operation>
    <operation name="actualizarFacultad">
      <input wsam:Action="com.pucp.pucpqhatu/FacultadWS/actualizarFacultadRequest" message="tns:actualizarFacultad" />
      <output wsam:Action="com.pucp.pucpqhatu/FacultadWS/actualizarFacultadResponse" message="tns:actualizarFacultadResponse" />
    </operation>
    <operation name="eliminarFacultad">
      <input wsam:Action="com.pucp.pucpqhatu/FacultadWS/eliminarFacultadRequest" message="tns:eliminarFacultad" />
      <output wsam:Action="com.pucp.pucpqhatu/FacultadWS/eliminarFacultadResponse" message="tns:eliminarFacultadResponse" />
    </operation>
    <operation name="obtenerFacultad">
      <input wsam:Action="com.pucp.pucpqhatu/FacultadWS/obtenerFacultadRequest" message="tns:obtenerFacultad" />
      <output wsam:Action="com.pucp.pucpqhatu/FacultadWS/obtenerFacultadResponse" message="tns:obtenerFacultadResponse" />
    </operation>
  </portType>
  <binding name="FacultadWSPortBinding" type="tns:FacultadWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="registrarFacultad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarFacultad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarFacultad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarFacultad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerFacultad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FacultadWS">
    <port name="FacultadWSPort" binding="tns:FacultadWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/FacultadWS" />
    </port>
  </service>
</definitions>