QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/NotificacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.pucp.pucpqhatu" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NotificacionWS" targetNamespace="com.pucp.pucpqhatu" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/NotificacionWS?xsd=1" namespace="com.pucp.pucpqhatu" />
    </xsd:schema>
  </types>
  <message name="listarNotificacion">
    <part name="parameters" element="tns:listarNotificacion" />
  </message>
  <message name="listarNotificacionResponse">
    <part name="parameters" element="tns:listarNotificacionResponse" />
  </message>
  <message name="registrarNotificacion">
    <part name="parameters" element="tns:registrarNotificacion" />
  </message>
  <message name="registrarNotificacionResponse">
    <part name="parameters" element="tns:registrarNotificacionResponse" />
  </message>
  <message name="eliminarDenuncia">
    <part name="parameters" element="tns:eliminarDenuncia" />
  </message>
  <message name="eliminarDenunciaResponse">
    <part name="parameters" element="tns:eliminarDenunciaResponse" />
  </message>
  <message name="actualizarNotificacion">
    <part name="parameters" element="tns:actualizarNotificacion" />
  </message>
  <message name="actualizarNotificacionResponse">
    <part name="parameters" element="tns:actualizarNotificacionResponse" />
  </message>
  <message name="obtenerNotificacion">
    <part name="parameters" element="tns:obtenerNotificacion" />
  </message>
  <message name="obtenerNotificacionResponse">
    <part name="parameters" element="tns:obtenerNotificacionResponse" />
  </message>
  <portType name="NotificacionWS">
    <operation name="listarNotificacion">
      <input wsam:Action="com.pucp.pucpqhatu/NotificacionWS/listarNotificacionRequest" message="tns:listarNotificacion" />
      <output wsam:Action="com.pucp.pucpqhatu/NotificacionWS/listarNotificacionResponse" message="tns:listarNotificacionResponse" />
    </operation>
    <operation name="registrarNotificacion">
      <input wsam:Action="com.pucp.pucpqhatu/NotificacionWS/registrarNotificacionRequest" message="tns:registrarNotificacion" />
      <output wsam:Action="com.pucp.pucpqhatu/NotificacionWS/registrarNotificacionResponse" message="tns:registrarNotificacionResponse" />
    </operation>
    <operation name="eliminarDenuncia">
      <input wsam:Action="com.pucp.pucpqhatu/NotificacionWS/eliminarDenunciaRequest" message="tns:eliminarDenuncia" />
      <output wsam:Action="com.pucp.pucpqhatu/NotificacionWS/eliminarDenunciaResponse" message="tns:eliminarDenunciaResponse" />
    </operation>
    <operation name="actualizarNotificacion">
      <input wsam:Action="com.pucp.pucpqhatu/NotificacionWS/actualizarNotificacionRequest" message="tns:actualizarNotificacion" />
      <output wsam:Action="com.pucp.pucpqhatu/NotificacionWS/actualizarNotificacionResponse" message="tns:actualizarNotificacionResponse" />
    </operation>
    <operation name="obtenerNotificacion">
      <input wsam:Action="com.pucp.pucpqhatu/NotificacionWS/obtenerNotificacionRequest" message="tns:obtenerNotificacion" />
      <output wsam:Action="com.pucp.pucpqhatu/NotificacionWS/obtenerNotificacionResponse" message="tns:obtenerNotificacionResponse" />
    </operation>
  </portType>
  <binding name="NotificacionWSPortBinding" type="tns:NotificacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarNotificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarNotificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDenuncia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarNotificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerNotificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NotificacionWS">
    <port name="NotificacionWSPort" binding="tns:NotificacionWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/NotificacionWS" />
    </port>
  </service>
</definitions>