QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/PublicacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.pucp.pucpqhatu" targetNamespace="com.pucp.pucpqhatu" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarPublicacion" type="tns:actualizarPublicacion" />
  <xs:element name="actualizarPublicacionResponse" type="tns:actualizarPublicacionResponse" />
  <xs:element name="agregarFavoritos" type="tns:agregarFavoritos" />
  <xs:element name="agregarFavoritosResponse" type="tns:agregarFavoritosResponse" />
  <xs:element name="cambiarEstadoPublicacion" type="tns:cambiarEstadoPublicacion" />
  <xs:element name="cambiarEstadoPublicacionResponse" type="tns:cambiarEstadoPublicacionResponse" />
  <xs:element name="crearPublicacion" type="tns:crearPublicacion" />
  <xs:element name="crearPublicacionResponse" type="tns:crearPublicacionResponse" />
  <xs:element name="curso" type="tns:curso" />
  <xs:element name="eliminarFavoritos" type="tns:eliminarFavoritos" />
  <xs:element name="eliminarFavoritosResponse" type="tns:eliminarFavoritosResponse" />
  <xs:element name="eliminarPublicacion" type="tns:eliminarPublicacion" />
  <xs:element name="eliminarPublicacionResponse" type="tns:eliminarPublicacionResponse" />
  <xs:element name="esFavorito" type="tns:esFavorito" />
  <xs:element name="esFavoritoResponse" type="tns:esFavoritoResponse" />
  <xs:element name="especialidad" type="tns:especialidad" />
  <xs:element name="facultad" type="tns:facultad" />
  <xs:element name="listarFavoritos" type="tns:listarFavoritos" />
  <xs:element name="listarFavoritosResponse" type="tns:listarFavoritosResponse" />
  <xs:element name="listarPorCurso" type="tns:listarPorCurso" />
  <xs:element name="listarPorCursoResponse" type="tns:listarPorCursoResponse" />
  <xs:element name="listarPorEspecialidad" type="tns:listarPorEspecialidad" />
  <xs:element name="listarPorEspecialidadResponse" type="tns:listarPorEspecialidadResponse" />
  <xs:element name="listarPorFacultad" type="tns:listarPorFacultad" />
  <xs:element name="listarPorFacultadResponse" type="tns:listarPorFacultadResponse" />
  <xs:element name="listarPublicacion" type="tns:listarPublicacion" />
  <xs:element name="listarPublicacionConFavoritos" type="tns:listarPublicacionConFavoritos" />
  <xs:element name="listarPublicacionConFavoritosResponse" type="tns:listarPublicacionConFavoritosResponse" />
  <xs:element name="listarPublicacionResponse" type="tns:listarPublicacionResponse" />
  <xs:element name="obtenerFechaPublicacionFormateada" type="tns:obtenerFechaPublicacionFormateada" />
  <xs:element name="obtenerFechaPublicacionFormateadaResponse" type="tns:obtenerFechaPublicacionFormateadaResponse" />
  <xs:element name="obtenerPublicacion" type="tns:obtenerPublicacion" />
  <xs:element name="obtenerPublicacionResponse" type="tns:obtenerPublicacionResponse" />
  <xs:element name="publicacion" type="tns:publicacion" />
  <xs:element name="reportePublicaciones" type="tns:reportePublicaciones" />
  <xs:element name="reportePublicacionesResponse" type="tns:reportePublicacionesResponse" />
  <xs:complexType name="listarPublicacionConFavoritos">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPublicacionConFavoritosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicacion">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="rutaImagen" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPublicacion" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
      <xs:element minOccurs="0" name="publicacionesCursos">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="curso" type="tns:curso" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="publicacionesEspecialidades">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="especialidad" type="tns:especialidad" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="publicacionesFacultades">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="facultad" type="tns:facultad" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="esFavorito" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="codigoPUCP" type="xs:int" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoUsuario" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facultad">
    <xs:sequence>
      <xs:element name="idFacultad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFavoritos">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFavoritosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarEstadoPublicacion">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarEstadoPublicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="agregarFavoritos">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarFavoritosResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerFechaPublicacionFormateada">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerFechaPublicacionFormateadaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esFavorito">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esFavoritoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorFacultad">
    <xs:sequence>
      <xs:element name="idFacultad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorFacultadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reportePublicaciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reportePublicacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPublicacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPublicacion">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFavoritos">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFavoritosResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarPublicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="publicacion" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPublicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="crearPublicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="publicacion" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearPublicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarPublicacion">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPublicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPorEspecialidad">
    <xs:sequence>
      <xs:element name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoPublicacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISIBLE" />
      <xs:enumeration value="GUARDADO" />
      <xs:enumeration value="RESTRINGIDO" />
      <xs:enumeration value="OCULTO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HABILITADO" />
      <xs:enumeration value="RESTRINGIDO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>