QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/PublicacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.pucp.pucpqhatu" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PublicacionWS" targetNamespace="com.pucp.pucpqhatu" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="PublicacionWSPortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/PublicacionWS?xsd=1" namespace="com.pucp.pucpqhatu" />
    </xsd:schema>
  </types>
  <message name="eliminarPublicacion">
    <part name="parameters" element="tns:eliminarPublicacion" />
  </message>
  <message name="eliminarPublicacionResponse">
    <part name="parameters" element="tns:eliminarPublicacionResponse" />
  </message>
  <message name="cambiarEstadoPublicacion">
    <part name="parameters" element="tns:cambiarEstadoPublicacion" />
  </message>
  <message name="cambiarEstadoPublicacionResponse">
    <part name="parameters" element="tns:cambiarEstadoPublicacionResponse" />
  </message>
  <message name="actualizarPublicacion">
    <part name="parameters" element="tns:actualizarPublicacion" />
  </message>
  <message name="actualizarPublicacionResponse">
    <part name="parameters" element="tns:actualizarPublicacionResponse" />
  </message>
  <message name="listarPublicacionConFavoritos">
    <part name="parameters" element="tns:listarPublicacionConFavoritos" />
  </message>
  <message name="listarPublicacionConFavoritosResponse">
    <part name="parameters" element="tns:listarPublicacionConFavoritosResponse" />
  </message>
  <message name="reportePublicaciones">
    <part name="parameters" element="tns:reportePublicaciones" />
  </message>
  <message name="reportePublicacionesResponse">
    <part name="parameters" element="tns:reportePublicacionesResponse" />
  </message>
  <message name="obtenerFechaPublicacionFormateada">
    <part name="parameters" element="tns:obtenerFechaPublicacionFormateada" />
  </message>
  <message name="obtenerFechaPublicacionFormateadaResponse">
    <part name="parameters" element="tns:obtenerFechaPublicacionFormateadaResponse" />
  </message>
  <message name="listarPorEspecialidad">
    <part name="parameters" element="tns:listarPorEspecialidad" />
  </message>
  <message name="listarPorEspecialidadResponse">
    <part name="parameters" element="tns:listarPorEspecialidadResponse" />
  </message>
  <message name="crearPublicacion">
    <part name="parameters" element="tns:crearPublicacion" />
  </message>
  <message name="crearPublicacionResponse">
    <part name="parameters" element="tns:crearPublicacionResponse" />
  </message>
  <message name="listarPublicacion">
    <part name="parameters" element="tns:listarPublicacion" />
  </message>
  <message name="listarPublicacionResponse">
    <part name="parameters" element="tns:listarPublicacionResponse" />
  </message>
  <message name="listarPorCurso">
    <part name="parameters" element="tns:listarPorCurso" />
  </message>
  <message name="listarPorCursoResponse">
    <part name="parameters" element="tns:listarPorCursoResponse" />
  </message>
  <message name="listarFavoritos">
    <part name="parameters" element="tns:listarFavoritos" />
  </message>
  <message name="listarFavoritosResponse">
    <part name="parameters" element="tns:listarFavoritosResponse" />
  </message>
  <message name="obtenerPublicacion">
    <part name="parameters" element="tns:obtenerPublicacion" />
  </message>
  <message name="obtenerPublicacionResponse">
    <part name="parameters" element="tns:obtenerPublicacionResponse" />
  </message>
  <message name="eliminarFavoritos">
    <part name="parameters" element="tns:eliminarFavoritos" />
  </message>
  <message name="eliminarFavoritosResponse">
    <part name="parameters" element="tns:eliminarFavoritosResponse" />
  </message>
  <message name="agregarFavoritos">
    <part name="parameters" element="tns:agregarFavoritos" />
  </message>
  <message name="agregarFavoritosResponse">
    <part name="parameters" element="tns:agregarFavoritosResponse" />
  </message>
  <message name="listarPorFacultad">
    <part name="parameters" element="tns:listarPorFacultad" />
  </message>
  <message name="listarPorFacultadResponse">
    <part name="parameters" element="tns:listarPorFacultadResponse" />
  </message>
  <message name="esFavorito">
    <part name="parameters" element="tns:esFavorito" />
  </message>
  <message name="esFavoritoResponse">
    <part name="parameters" element="tns:esFavoritoResponse" />
  </message>
  <portType name="PublicacionWS">
    <operation name="eliminarPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/eliminarPublicacionRequest" message="tns:eliminarPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/eliminarPublicacionResponse" message="tns:eliminarPublicacionResponse" />
    </operation>
    <operation name="cambiarEstadoPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/cambiarEstadoPublicacionRequest" message="tns:cambiarEstadoPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/cambiarEstadoPublicacionResponse" message="tns:cambiarEstadoPublicacionResponse" />
    </operation>
    <operation name="actualizarPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/actualizarPublicacionRequest" message="tns:actualizarPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/actualizarPublicacionResponse" message="tns:actualizarPublicacionResponse" />
    </operation>
    <operation name="listarPublicacionConFavoritos">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPublicacionConFavoritosRequest" message="tns:listarPublicacionConFavoritos" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPublicacionConFavoritosResponse" message="tns:listarPublicacionConFavoritosResponse" />
    </operation>
    <operation name="reportePublicaciones">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/reportePublicacionesRequest" message="tns:reportePublicaciones" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/reportePublicacionesResponse" message="tns:reportePublicacionesResponse" />
    </operation>
    <operation name="obtenerFechaPublicacionFormateada">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/obtenerFechaPublicacionFormateadaRequest" message="tns:obtenerFechaPublicacionFormateada" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/obtenerFechaPublicacionFormateadaResponse" message="tns:obtenerFechaPublicacionFormateadaResponse" />
    </operation>
    <operation name="listarPorEspecialidad">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorEspecialidadRequest" message="tns:listarPorEspecialidad" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorEspecialidadResponse" message="tns:listarPorEspecialidadResponse" />
    </operation>
    <operation name="crearPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/crearPublicacionRequest" message="tns:crearPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/crearPublicacionResponse" message="tns:crearPublicacionResponse" />
    </operation>
    <operation name="listarPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPublicacionRequest" message="tns:listarPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPublicacionResponse" message="tns:listarPublicacionResponse" />
    </operation>
    <operation name="listarPorCurso">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorCursoRequest" message="tns:listarPorCurso" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorCursoResponse" message="tns:listarPorCursoResponse" />
    </operation>
    <operation name="listarFavoritos">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarFavoritosRequest" message="tns:listarFavoritos" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarFavoritosResponse" message="tns:listarFavoritosResponse" />
    </operation>
    <operation name="obtenerPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/obtenerPublicacionRequest" message="tns:obtenerPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/obtenerPublicacionResponse" message="tns:obtenerPublicacionResponse" />
    </operation>
    <operation name="eliminarFavoritos">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/eliminarFavoritosRequest" message="tns:eliminarFavoritos" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/eliminarFavoritosResponse" message="tns:eliminarFavoritosResponse" />
    </operation>
    <operation name="agregarFavoritos">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/agregarFavoritosRequest" message="tns:agregarFavoritos" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/agregarFavoritosResponse" message="tns:agregarFavoritosResponse" />
    </operation>
    <operation name="listarPorFacultad">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorFacultadRequest" message="tns:listarPorFacultad" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorFacultadResponse" message="tns:listarPorFacultadResponse" />
    </operation>
    <operation name="esFavorito">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/esFavoritoRequest" message="tns:esFavorito" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/esFavoritoResponse" message="tns:esFavoritoResponse" />
    </operation>
  </portType>
  <binding name="PublicacionWSPortBinding" type="tns:PublicacionWS">
    <wsp:PolicyReference URI="#PublicacionWSPortBinding_MTOM_Policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarEstadoPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPublicacionConFavoritos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reportePublicaciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerFechaPublicacionFormateada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarFavoritos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarFavoritos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarFavoritos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorFacultad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="esFavorito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PublicacionWS">
    <port name="PublicacionWSPort" binding="tns:PublicacionWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/PublicacionWS" />
    </port>
  </service>
</definitions>