QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/PublicacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.pucp.pucpqhatu" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PublicacionWS" targetNamespace="com.pucp.pucpqhatu" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/PublicacionWS?xsd=1" namespace="com.pucp.pucpqhatu" />
    </xsd:schema>
  </types>
  <message name="actualizarPublicacion">
    <part name="parameters" element="tns:actualizarPublicacion" />
  </message>
  <message name="actualizarPublicacionResponse">
    <part name="parameters" element="tns:actualizarPublicacionResponse" />
  </message>
  <message name="cambiarEstadoPublicacion">
    <part name="parameters" element="tns:cambiarEstadoPublicacion" />
  </message>
  <message name="cambiarEstadoPublicacionResponse">
    <part name="parameters" element="tns:cambiarEstadoPublicacionResponse" />
  </message>
  <message name="eliminarPublicacion">
    <part name="parameters" element="tns:eliminarPublicacion" />
  </message>
  <message name="eliminarPublicacionResponse">
    <part name="parameters" element="tns:eliminarPublicacionResponse" />
  </message>
  <message name="listarPorEspecialidad">
    <part name="parameters" element="tns:listarPorEspecialidad" />
  </message>
  <message name="listarPorEspecialidadResponse">
    <part name="parameters" element="tns:listarPorEspecialidadResponse" />
  </message>
  <message name="listarPorFacultad">
    <part name="parameters" element="tns:listarPorFacultad" />
  </message>
  <message name="listarPorFacultadResponse">
    <part name="parameters" element="tns:listarPorFacultadResponse" />
  </message>
  <message name="obtenerPublicacion">
    <part name="parameters" element="tns:obtenerPublicacion" />
  </message>
  <message name="obtenerPublicacionResponse">
    <part name="parameters" element="tns:obtenerPublicacionResponse" />
  </message>
  <message name="listarPorCurso">
    <part name="parameters" element="tns:listarPorCurso" />
  </message>
  <message name="listarPorCursoResponse">
    <part name="parameters" element="tns:listarPorCursoResponse" />
  </message>
  <message name="listarPublicacion">
    <part name="parameters" element="tns:listarPublicacion" />
  </message>
  <message name="listarPublicacionResponse">
    <part name="parameters" element="tns:listarPublicacionResponse" />
  </message>
  <message name="crearPublicacion">
    <part name="parameters" element="tns:crearPublicacion" />
  </message>
  <message name="crearPublicacionResponse">
    <part name="parameters" element="tns:crearPublicacionResponse" />
  </message>
  <portType name="PublicacionWS">
    <operation name="actualizarPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/actualizarPublicacionRequest" message="tns:actualizarPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/actualizarPublicacionResponse" message="tns:actualizarPublicacionResponse" />
    </operation>
    <operation name="cambiarEstadoPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/cambiarEstadoPublicacionRequest" message="tns:cambiarEstadoPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/cambiarEstadoPublicacionResponse" message="tns:cambiarEstadoPublicacionResponse" />
    </operation>
    <operation name="eliminarPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/eliminarPublicacionRequest" message="tns:eliminarPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/eliminarPublicacionResponse" message="tns:eliminarPublicacionResponse" />
    </operation>
    <operation name="listarPorEspecialidad">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorEspecialidadRequest" message="tns:listarPorEspecialidad" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorEspecialidadResponse" message="tns:listarPorEspecialidadResponse" />
    </operation>
    <operation name="listarPorFacultad">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorFacultadRequest" message="tns:listarPorFacultad" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorFacultadResponse" message="tns:listarPorFacultadResponse" />
    </operation>
    <operation name="obtenerPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/obtenerPublicacionRequest" message="tns:obtenerPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/obtenerPublicacionResponse" message="tns:obtenerPublicacionResponse" />
    </operation>
    <operation name="listarPorCurso">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorCursoRequest" message="tns:listarPorCurso" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPorCursoResponse" message="tns:listarPorCursoResponse" />
    </operation>
    <operation name="listarPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPublicacionRequest" message="tns:listarPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/listarPublicacionResponse" message="tns:listarPublicacionResponse" />
    </operation>
    <operation name="crearPublicacion">
      <input wsam:Action="com.pucp.pucpqhatu/PublicacionWS/crearPublicacionRequest" message="tns:crearPublicacion" />
      <output wsam:Action="com.pucp.pucpqhatu/PublicacionWS/crearPublicacionResponse" message="tns:crearPublicacionResponse" />
    </operation>
  </portType>
  <binding name="PublicacionWSPortBinding" type="tns:PublicacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarEstadoPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorFacultad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PublicacionWS">
    <port name="PublicacionWSPort" binding="tns:PublicacionWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/PublicacionWS" />
    </port>
  </service>
</definitions>