QhatuPUCPWeb/QhatuPUCPPresentacion/Connected Services/WebService/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.pucp.pucpqhatu" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="com.pucp.pucpqhatu" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/UsuarioWS?xsd=1" namespace="com.pucp.pucpqhatu" />
    </xsd:schema>
  </types>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <message name="actualizarUsuario">
    <part name="parameters" element="tns:actualizarUsuario" />
  </message>
  <message name="actualizarUsuarioResponse">
    <part name="parameters" element="tns:actualizarUsuarioResponse" />
  </message>
  <message name="obtenerUsuario">
    <part name="parameters" element="tns:obtenerUsuario" />
  </message>
  <message name="obtenerUsuarioResponse">
    <part name="parameters" element="tns:obtenerUsuarioResponse" />
  </message>
  <message name="reporteUsuarios">
    <part name="parameters" element="tns:reporteUsuarios" />
  </message>
  <message name="reporteUsuariosResponse">
    <part name="parameters" element="tns:reporteUsuariosResponse" />
  </message>
  <message name="registrarUsuario">
    <part name="parameters" element="tns:registrarUsuario" />
  </message>
  <message name="registrarUsuarioResponse">
    <part name="parameters" element="tns:registrarUsuarioResponse" />
  </message>
  <message name="obtenerUsuarioPorCorreoYContra">
    <part name="parameters" element="tns:obtenerUsuarioPorCorreoYContra" />
  </message>
  <message name="obtenerUsuarioPorCorreoYContraResponse">
    <part name="parameters" element="tns:obtenerUsuarioPorCorreoYContraResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="eliminarUsuario">
      <input wsam:Action="com.pucp.pucpqhatu/UsuarioWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="com.pucp.pucpqhatu/UsuarioWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
    </operation>
    <operation name="listarUsuarios">
      <input wsam:Action="com.pucp.pucpqhatu/UsuarioWS/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="com.pucp.pucpqhatu/UsuarioWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
    </operation>
    <operation name="actualizarUsuario">
      <input wsam:Action="com.pucp.pucpqhatu/UsuarioWS/actualizarUsuarioRequest" message="tns:actualizarUsuario" />
      <output wsam:Action="com.pucp.pucpqhatu/UsuarioWS/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse" />
    </operation>
    <operation name="obtenerUsuario">
      <input wsam:Action="com.pucp.pucpqhatu/UsuarioWS/obtenerUsuarioRequest" message="tns:obtenerUsuario" />
      <output wsam:Action="com.pucp.pucpqhatu/UsuarioWS/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse" />
    </operation>
    <operation name="reporteUsuarios">
      <input wsam:Action="com.pucp.pucpqhatu/UsuarioWS/reporteUsuariosRequest" message="tns:reporteUsuarios" />
      <output wsam:Action="com.pucp.pucpqhatu/UsuarioWS/reporteUsuariosResponse" message="tns:reporteUsuariosResponse" />
    </operation>
    <operation name="registrarUsuario">
      <input wsam:Action="com.pucp.pucpqhatu/UsuarioWS/registrarUsuarioRequest" message="tns:registrarUsuario" />
      <output wsam:Action="com.pucp.pucpqhatu/UsuarioWS/registrarUsuarioResponse" message="tns:registrarUsuarioResponse" />
    </operation>
    <operation name="obtenerUsuarioPorCorreoYContra">
      <input wsam:Action="com.pucp.pucpqhatu/UsuarioWS/obtenerUsuarioPorCorreoYContraRequest" message="tns:obtenerUsuarioPorCorreoYContra" />
      <output wsam:Action="com.pucp.pucpqhatu/UsuarioWS/obtenerUsuarioPorCorreoYContraResponse" message="tns:obtenerUsuarioPorCorreoYContraResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuarioPorCorreoYContra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/UsuarioWS" />
    </port>
  </service>
</definitions>